.form {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.min_width {
  width: 35%;
}

.max_width {
  width: 70%;
}

.form_absolute {
  position: absolute;
}

.form_absolute:nth-child(n + 2) {
  top: 15px;
}

.image {
  width: 220px;
  height: 220px;
  object-fit: cover;
}

label {
  font-weight: bold;
  margin: 15px 0 10px;
}

label:first-child {
  margin-top: 0;
}
