.list__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 2;
  max-width: 1200px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1px 0;
  width: auto;
}

.list::-webkit-scrollbar {
  display: none;
}

.list_detailed {
  max-height: 60vh;
  overflow-y: scroll;
}

.pagination {
  display: flex;
  gap: 50px;
}

.pagination span {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}

.pagination_btn {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: none;
  background: url(../../../public/Arrow.svg) no-repeat center;
  cursor: pointer;
}

.pagination_btn.left {
  transform: rotate(180deg);
}
