.main {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.forms_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
}

.section {
  width: 45%;
}