.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.forms_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  min-width: 250px;
}
