.header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header__logo-img {
  width: 50%;
}

.header__logo-text {
  font-size: 150%;
  color: #ffffff;
}

.header__search-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header_desc {
  font-size: 20px;
  color: #ffffff;
}

.header__search {
  display: flex;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #1a181a;
}

.header__input {
  display: flex;
  flex: 2;
  height: 30px;
  padding: 0 5px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: #d1d94d;
}

.header__input:focus-visible {
  outline: none;
}

.header__button {
  display: flex;
  flex: 1;
  max-width: 120px;
  border-radius: 5px;
}
