.header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.header__select-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  width: 15%;
  color: #ffffff;
}

.header__select {
  width: 30%;
  min-width: 50px;
  padding: 5px;
  color: #a0a0a0;
  background-color: #1a181a;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header__logo-img {
  width: 20%;
  min-width: 250px;
}

.header__logo-text {
  margin-bottom: 10px;
  font-size: 150%;
  color: #ffffff;
}

.header__search-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__desc {
  font-size: 20px;
  color: #ffffff;
}

.header__search {
  display: flex;
  gap: 20px;
  width: 25%;
  min-width: 310px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #1a181a;
}

.header__input {
  display: flex;
  flex: 2;
  height: 30px;
  padding: 0 5px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: #d1d94d;
}

.header__input:focus-visible {
  outline: none;
}

.header__button {
  display: flex;
  justify-content: center;
  flex: 1;
  max-width: 120px;
  border-radius: 5px;
}
